<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<a href="/">-->
<!--    <button>Home</button>-->
<!--</a>-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--</head>-->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block style%}
    body {
    font-family: 'Courier New', monospace;
    }
{% endblock %}

{% block content %}
<h1>Login</h1>

<form action="/auth/login" method="POST">
    <label for="email">Email</label>
    <input name="email">

    <label for="password">Password</label>
    <input name="password">
    <input type="submit">
</form>
{% endblock %}